<app-navbar></app-navbar>




<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <app-cadastro></app-cadastro>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <app-catalogo></app-catalogo>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>




<app-footer></app-footer>

<router-outlet></router-outlet>
